<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<!-- منابع بسته NuGet -->
		<!-- برای استفاده از nuget.org -->
		<!--<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3.6.0" />-->
    
		<!-- اگر نیاز به منابع دیگری دارید، آن‌ها را اینجا اضافه کنید -->
		<!-- مثال:
    <add key="MyInternalFeed" value="https://nuget.devneeds.ir/repository/nuget/index.json" />
    -->

		<!-- با استفاده از <clear /> می‌توانید تمام منابع پیش‌فرض را حذف کنید، اما معمولاً نیاز نیست -->
		<!-- <clear /> -->
	</packageSources>

	<packageRestore>
		<!-- فعال کردن بازیابی خودکار بسته‌ها -->
		<add key="enabled" value="true" />
		<add key="automatic" value="true" />
	</packageRestore>

	<!-- تنظیمات مربوط به پردازش یا قوانین -->
	
   
	<!-- سایر تنظیمات NuGet می‌توانند در اینجا اضافه شوند -->

</configuration>
